/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  height: 400px;
  width: 400px;
  background-color: #ffffff;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: blue;
}
.paragraph {
  color: black;
}
.button {
  color: #ffffff;
  background-color: blue;
  border-radius: 5px;
  height: 30px;
  width: 100px;
}
.para {
  color: blue;
  font-size: 30px;
}
